<nav class="navbar m-2">
    <div class="container p-1 rounded-3 bg-main">
        <a class="navbar-brand ms-3" href="/">
            <img class="rounded-3" src="https://getoutfit.sirv.com/quiz_app/logo.jpg" alt="" width="35" height="35">
        </a>
    </div>
</nav>