<div style="display: flex; justify-content: center; height: 70vh;  align-items: center; ">

    <div style="color: #343F56;">
        <h4>Select Your Language</h4>
        <h4>अपनी भाषा का चयन करें</h4>
        <div style="display: flex; justify-content: center;">
            <a href="/quiz">
                <button class="btn btn-dark rounded-2" style="background-color: #E9896A; border: none;">Hindi</button>
            </a>
            <a href="/quiz">
                <button class="btn btn-dark ms-3 rounded-2"
                    style="background-color: #E9896A; border: none;">English</button>
            </a>
        </div>
    </div>

</div>