<div class="center-box">

    <div class="text-color-dark">
        <h4>Select Your Language</h4>
        <h4>अपनी भाषा का चयन करें</h4>
        <div class="d-flex justify-content-center">
            <a href="/quiz/<%=date%>/1">
                <button class="btn btn-dark rounded-2 btn-main shadow-none">Hindi</button>
            </a>
            <a href="/quiz">
                <button class="btn btn-dark ms-3 rounded-2 btn-main shadow-none">English</button>
            </a>
        </div>
    </div>

</div>