<div class="container mt-4 rounded-3 p-4 d-flex" style="background-color: #E9896A; flex-direction: column;">
    <div class="p-4" style="color: #343F56;">
        <p>Q. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio est, magni perspiciatis possimus fuga
            itaque
            quasi amet, ducimus maiores sapiente facilis! Neque rerum hic mollitia inventore aliquid. Excepturi, aliquid
            amet?</p>
    </div>

    <div class="container d-flex pb-4">

        <div class="container" style="display: flex; flex-direction: column;">

            <div class="container">
                <div class="p-2 rounded-3 mt-2" style="background-color: #F8F5F1; opacity: 0.9;">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                        lorem ipsum
                    </label>
                </div>
                </div>
                <div class="p-2 rounded-3 mt-2" style="background-color: #F8F5F1; opacity: 0.9;">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                        lorem ipsum
                    </label>
                </div>
                </div>
                <div class="p-2 rounded-3 mt-2" style="background-color: #F8F5F1; opacity: 0.9;">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                        lorem ipsum
                    </label>
                </div>
                </div>
                <div class="p-2 rounded-3 mt-2" style="background-color: #F8F5F1; opacity: 0.9;">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                        lorem ipsum
                    </label>
                </div>
                </div>
            </div>

            <div class="ms-2" style="margin-top: 1.5rem;">
                <button class="btn btn-light rounded-2" style="background-color: #F8F5F1; border: none; opacity: 0.9;">Submit</button>
                <button class="btn btn-light ms-3 rounded-2"
                    style="background-color: #F8F5F1; border: none; opacity: 0.9;">Next</button>
            </div>

        </div>

        <div class="container rounded-3" style="background-color:#F8F5F1; opacity: 0.9;">
            <div class="container p-3">
                <h5 style="text-align: center;">Explanation</h5>
                <p style="margin-top: 1.5rem;">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo earum perspiciatis dicta, ab maiores
                    et, quos voluptatem iusto laborum eaque quas, nam deserunt pariatur dolore perferendis sit ducimus
                    ad facilis.
                </p>
            </div>
        </div>
    </div>

</div>